div#index {
    text-align: center;
}

input#file_upload {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

li {
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    color: #fff;
    background-color: #dbdbdb;
}

li.menu {
    display: inline-block;
    white-space: nowrap;
    margin: 20px 30px;
    padding: 10px;
    color: #337ab7;
}

li.menu_clicked {
    color: #fff;
    background-color: #337ab7;
}

nav#data {
    display: block;
    width: 10%;
    margin: 0 2%;
    float: left;
    white-space: nowrap;
}

li.data {
    margin-top: 10%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #6f5499;
}

li.data_clicked {
    color: #fff;
    background-color: #6f5499;
}

h1#title {
    color: #fff;
    background-color: #6f5499;
    border-radius: 10px;
    border-style: solid;
    font-size: 25px;
    padding: 10px 0px;
    margin: 10px;
    text-align: center;
    width: 15%;
    float: left;
}

nav#edit {
    text-align:center;
}

select#edit {
    width: 320px;
    height: 40px;
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
}

button.edit {
    margin-right: 0;
    border-right: 0;
    padding: 6px 55px;
}

button.create {
    color: #fff;
    background-color: #EC971F;
    border-color: #EC971F;
}

button.add {
    margin-left: 0;
    border-left: 0;
    padding: 6px 15px;
}

ul.sidebar li {
    padding: 10px 0;
}

div#action {
    width: 75%;
    text-align: center;
    vertical-align: middle;
    margin: 0 15%;
}

div#action h2 {
    text-align: center;
    margin: 5px;
}

div#editor {
    text-align: left;
    height: 400px;
}

h2#data_set {
   cursor: pointer;
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table td {
    padding: 15px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
}

.table tbody tr:hover {
    background-color: #F5F5F5;
}

.ui-widget-header,.ui-state-default, ui-button{
    background: #6f5499;
    border: 1px solid #6f5499;
    color: #FFFFFF;
    font-weight: bold;
}

div#users_list {
    width:70%;
    margin-left:40%;
    margin-right:15%;
};

.data_update, .data_delete, .user_delete {
    cursor: pointer;
}

.structure_delete, .structure_modify {
    margin: 2%;
    cursor: pointer;
}

textarea#structure_explain {
    width: 550px;
    resize: none;
    overflow: hidden;
}

button#file_create {
    color: #fff;
    background-color: #6f5499;
}

p#final_destination {
    color: #6f5499;
    font-weight: bold;
    text-align: center;
}
