div#index {
    text-align: center;
}

input {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

li {
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    color: #fff;
    background-color: #dbdbdb;
}

li.menu {
    display: inline-block;
    white-space: nowrap;
    margin: 20px 30px;
    padding: 10px;
    color: #337ab7;
}

li.menu_clicked {
    color: #fff;
    background-color: #337ab7;
}

nav#data {
    display: block;
    width: 10%;
    margin: 0 2%;
    float: left;
    white-space: nowrap;
}

li.data {
    margin-top: 10%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #6f5499;
}

li.data_clicked {
    color: #fff;
    background-color: #6f5499;
}

h1#title {
    color: #fff;
    background-color: #6f5499;
    border-radius: 10px;
    border-style: solid;
    font-size: 25px;
    padding: 10px 0px;
    margin: 10px;
    text-align: center;
    width: 15%;
    float: left;
}

nav#edit {
    text-align:center;
}

ul.sidebar li {
    padding: 10px 0;
}

div#action {
    width: 75%;
    text-align: center;
    vertical-align: middle;
    margin: 0 15%;
}

div#action h2 {
    text-align: center;
    margin: 5px;
}

div#editor {
    height: 400px;
}
