<form role="form">
  <label for="admin_name">new admin name</label>
  <input type="text" class="form-control" id="admin_name"
	   placeholder="enter new admin name"></input>
  <label for="admin_name">e-mail</label>
  <input type="email" class="form-control" id="admin_email"
	 placeholder="enter e-mail"></input>
</form>
<button class="btn btn-block btn-success" type="button">ADD new admin</button>
<hr>
<form role="form">
    <label for="old_password">old password</label>
    <input type="password" class="form-control" id="old_password"
	   placeholder="enter old password"></input>
    <label for="new_password">new password</label>
    <input type="password" class="form-control" id="new_password"
	   placeholder="enter new password"></input>
    <label for="confirm_new_password">type new password again</label>
    <input type="password" class="form-control"
	   id="confirm_new_password"
	   placeholder="enter new password again"></input>
</form>
<button class="btn btn-block btn-danger" type="button">CHANGE your password</button>
<hr>
<button class="btn btn-block btn-danger" type="button">RESET all stored data</button>
<hr>
<button class="btn btn-block btn-danger" type="button">DELETE this account</button>
