<script>
        $('p.modal-body').text('$text');
        $('div.modal').modal('show');
        $('button.btn-success').on('click', function() {
           $.ajax({
        type: 'POST',
        url: 'php/zeek.php',
        data: { 'method': 'disconnect',
        'project_id': 1 },
        dataType: 'text',
        success: function($input)
        {
	console.log('success!!');
	$(location).attr('href', 'welcome.php');
        },
        error: function($request, $status, $error)
        {
        $('div.dynamic').replaceWith(
        '<div class=\"dynamic\"><h2>'
      + $error + '</h2></div>');
        console.log($status + ' : ' + $error);
        }
        });
	});
</script>
