<script>
  <?php if ($action_before != NULL) { echo "$action_before\n"; } ?>
  $("h3.modal-body").text("<?php echo $text; ?>");
  $("div.modal-body").replaceWith(
  '<div class="modal-body">
  <?php if ($body)  {
	  echo chop($body);
	} else {
	  echo "";
	} ?>
  </div>');
  <?php if ($display_footer)  { ?>
  $("div.modal-footer").show();
  <?php } else  { ?>
  $("div.modal-footer").hide();
  <?php } ?>
  $("div.modal").modal("show");
  <?php if ($action_after != NULL) { echo "$action_after"; } ?>
</script>
