$("<?php echo $element; ?>").on("<?php echo $action; ?>", function() {
  $.ajax({
    type: "POST",
    url: "lib/zeek.php",
    data: {
      "method": "<?php echo $method; ?>",
      "project_id": "<?php echo $project_id; ?>",
<?php if (is_array($data)) {
         foreach ($data as $key => $value) { ?>
       "<?php echo $key; ?>": "<?php echo $value; ?>",
<?php } } ?>
    },
    dataType: "text",
    success: function($input)
    {
      <?php echo $on_success; ?>
    },
    error: function($request, $status, $error)
    {
      $("div.dynamic").replaceWith(
        '<div class="dynamic"><h2>' + $error + '</h2></div>');
    }
  });
});
