<form role="form">
<?php foreach ($structure as $key => $format) {

 if ($key == 'project_id') {
   continue;
 }

 $type = 'text';

 switch ($format) {
   case 'VARCHAR':
     $type = 'text';
     break;
   case 'TEXT':
     $type = 'text';
     break;
   case 'DATE':
     $type = 'text';
     break;
   case 'INT':
     $type = 'text';
     break;
  }

 if (is_array($format)) {
     $format = $format[0];
 }
?>
<br>
<label for="<?php echo $key; ?>"><?php echo ucfirst($key); ?></label>
<input type="<?php echo $type; ?>"
       class="form-control"
       id="<?php echo $key; ?>"
       placeholder="<?php echo "Enter $key"; ?>">
<?php } ?>
<br>
<div style="text-align: center;">
  <div class="btn-group">
    <button type="button" class="btn btn-success btn-modal">Submit</button>
    <button type="button" class="btn btn-default btn-large" data-dismiss="modal">Cancel</button>
  </div>
</div>
</form>
